# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# Turborepo
.turbo/

# production
dist/
coverage/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!*.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# testing
coverage/

# misc
.DS_Store
*.pem

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Project specific temp files
scaffold.js
finalize.js
web_scaffold.js
